.App {
  text-align: center;
}

button{
  padding: 10px;
  font-size: 15px;
  background-color: aqua;
  color: #fff;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;

}
.navbar{
  display: flex;
  padding: 10px;
  gap: 20px;
}